<div class="container">
  <div class="groups">
    <% @groups.each do |group| %>
      <div class="group">
        <div class="group-name">
          <h2><%= group.name ? group.name : "Unnamed" %></h2>
        </div>

        <div class="group-members">
          <h4>Lights </h4>
          <% if group.lights.present? %>
            <ul>
              <% group.lights.each do |light| %>
                <li>
                  <%= light.name ? light.name : "Unnamed"%>
                </li>
              <% end %>
            </ul>
          <% else %>
            <div>No lights.</div>
          <% end %>
        </div>

        <div class="group-color" id="<%= group.id %>">
          <div class="color-option on">ON</div>
          <div class="color-option off">OFF</div>
          <div class="color-option color">COLOR</div>
          <%#= link_to 'Change Color', group_path(group) %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="lights">
    <% @lights.each do |light| %>
      <div class="light">
        <div>
          <span>Light Name: </span>
          <span><%= light.name ? light.name : "Unnamed" %></span>
        </div>
        <div>
          <span>Group: </span>
          <span><%= light.light_groups ? light.light_groups : "Ungrouped" %></span>
        </div>
        <div>
          <%= link_to 'Change Color', light_path(light) %>
        </div>
      </div>
    <% end %>
  </div>
</div>